
<nav class="nav nav-admin">
  <span class="nav-admin title">
    Admin Panel | <%= link_to t('.back'), root_path %> 
  </span>

  <div class="nav-admin user">
    <b class="nav-admin user-email"><%= t('.username', name: current_user.name) %></b> |
    <%= link_to I18n.t('layouts.navbar.logout'), destroy_user_session_path, method: :delete %>
  </div>
</nav>