<%= content_tag :div, class: 'progress', data: { test_progress: @test_passage.progress } do %>
  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 0%"></div>
<% end %>