<h2> <%= t('.header', title: @test_passage.test.title) %></h2>

<p>
  <%= t('.correct_questions', n: @test_passage.correct_questions, m: @test_passage.test.questions.count) %>
</p>

<b><%= score_count(@test_passage) %></b>

<%= link_to t('links.back'), tests_path %>