<h2>  <%= t('.test_passing', title: @test_passage.test.title) %> </h2>

<p> 
  <%= t('.question_number', number: questions_count(@test_passage)) %>
</p>

<b>
 <%= @test_passage.current_question.body %>
</b>

<%= render 'form' %>