<h2><%= I18n.t('admin.actions.editing', model: human_name(Answer)) %></h2>

<p>
  <%= @answer.question.body %>
</p>

<%= render 'form' %>

<%= link_to I18n.t('.admin.actions.back'), admin_question_path(@answer.question) %>
