<div class="row justify-content-center mt-3">
  <div class="col col-md-4">
    <h2 class="row justify-content-center">
      <%= t('links.editing', model: human_name(Answer)) %>
    </h2>

    <p class="d-flex text-center">
      <%= @answer.question.body %>
    </p>

    <%= render 'form' %>

    <%= link_to t('links.back'), admin_question_path(@answer.question) %>
  </div>
</div>