<h2><%= I18n.t('.admin.actions.new', model: human_name(Answer)) %></h2>

<p>
  <%= @question.body %>
</p>

<%= render 'form' %>

<%= link_to I18n.t('.admin.actions.back'), admin_question_path(@question) %>
