<tr>
  <td class="text-center align-middle"><%= test.title %></td>
  <td class="text-center align-middle"><%= test_level(test) %></td>
  <td class="text-center align-middle"><%= test.questions.count %></td>
  <td class="text-center align-middle"><%= button_to t('.start'), start_test_path(test), class: 'btn btn-outline-primary' %></td>
</tr>