<footer class="text-center text-muted fixed-bottom">
  <hr>
  <p class="d-flex justify-content-center p-4"> 
    тесты | Dima Dz | <%= github_url("redockirtap", "test-guru") %> | <%= current_year %> 
  </p>
</footer>